<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id='div'></div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    let data = JSON.parse([[${json.toString()}]]);
    let node = {
        id: data.id,
        name: data.name,
        type: data.type,
        nodeYes: data.yes,
        nodeNo: data.no,
        level: 0,
    }
    window.onload = function () {
        addNode(node);
    }
    function addNode(node, str=' ') {
        for (let i = 0; i < node.level; i++) {
            str = str + '-------';
        }
        let div = document.createElement('div');
        let divId = document.createElement('div');
        if (node.value != undefined) divId.innerHTML +=node.value;
        div.append(divId);
        let divName = document.createElement('div');
        divName.innerHTML +=node.name;
        let strTmp = node.name;
        div.append(divName);
        document.body.append(div);
        div.insertAdjacentHTML("beforeend", '<form action="/wood/rename" method="post">' +
            '<input value="'+node.name+'" name="nameNode">' +
            '<input type="hidden" name="idNode" value="'+node.id+'">'+
            '<input value="Изменить" type="submit">'+
            '<input type="hidden"  value="'+node.type+'" name="typeNode">'+
            '</form>');
        div.insertAdjacentHTML("beforeend", '<form action="/wood/newbranch" method="post">' +
            '<input type="hidden" value="'+node.name+'" name="nameNode">' +
            '<input type="hidden" name="idNode" value="'+node.id+'">'+
            '<input value="Добавить ветку Yes" type="submit">'+
            '<input type="hidden"  value="'+node.type+'" name="typeNode">'+
            '<input type="hidden"  value="Yes" name="value">'+
            '</form>');
        div.insertAdjacentHTML("beforeend", '<form action="/wood/newbranch" method="post">' +
            '<input type="hidden" value="'+node.name+'" name="nameNode">' +
            '<input type="hidden" name="idNode" value="'+node.id+'">'+
            '<input value="Добавить ветку No" type="submit">'+
            '<input type="hidden"  value="'+node.type+'" name="typeNode">'+
            '<input type="hidden"  value="No" name="value">'+
            '</form>');
        div.insertAdjacentHTML("beforeend", '<form action="/wood/delete" method="post">' +
            '<input type="hidden" value="'+node.name+'" name="nameNode">' +
            '<input type="hidden" name="idNode" value="'+node.id+'">'+
            '<input value="Удалить" type="submit">'+
            '<input type="hidden"  value="'+node.type+'" name="typeNode">'+
            '<input type="hidden"  value="No" name="value">'+
            '</form>');
        div.style.marginLeft = node.level*100+'px';
        let nodeYes = {};
        let nodeNo = {};
        if (node.nodeYes != null) {
            nodeYes = {
                id: node.nodeYes.id,
                name: node.nodeYes.name,
                type: node.nodeYes.type,
                nodeYes: node.nodeYes.yes,
                nodeNo: node.nodeYes.no,
                level: node.level + 1,
                value: 'Yes',
            }

        }
        if (node.nodeNo != null) {
            nodeNo = {
                id: node.nodeNo.id,
                name: node.nodeNo.name,
                type: node.nodeNo.type,
                nodeYes: node.nodeNo.yes,
                nodeNo: node.nodeNo.no,
                level: node.level + 1,
                value: 'No',
            }
        }
        if (node.nodeYes != null) {addNode(nodeYes);}
        if (node.nodeNo != null) {addNode(nodeNo);}
    }
</script>
</body>
</html>